<div class="d-flex justify-content-center">
  <div class="row gx-4 mb-2">
    <div class="col">
      <div class="avatar avatar-xl position-relative">
        <img src="@Model.ImagePath" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
      </div>
    </div>
    <div class="col my-auto">
      <div class="h-100">
        <h5 class="mb-1">
          Welcome @Model.Name @Model.SecondName
        </h5>
        <p class="mb-0 font-weight-normal text-sm">

        </p>
      </div>
    </div>
  </div>
</div>