<head>
    <link rel="stylesheet" href="~/scss/style.css">
    <link href="~/css/style.css" rel="stylesheet" />
</head>

  <div class='panel__content'>
    <div class="d-flex justify-content-end align-item-center">
        <a class="btn-outline-danger" id="exitModal" style="margin-right:15px; margin-top:15px; font-size:40px;">X</a>
    </div>
    <h4 style="margin-top:-40px;">
        Advance decision screen....
    </h4>
        
    
    <h2>Please choose your decision to advance request</h2>
    <p>This action is final and you will be unable to recover any data</p>
  </div>
  <div class='panel__flaps'>
    <div class='flap outer flap--left'></div>
    <a class='flap flap__btn' id="approve-advance-btn">Okey</a>
    <a class='flap flap__btn' id="reject-advance-btn" >Reject</a>
    <div class='flap outer flap--right'></div>
  </div>






