@using HR.Application.Models.DTOs;
@model LoginDTO
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link href="~/assets/login/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/fonts/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/fonts/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/vendor/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/vendor/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/vendor/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/vendor/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/vendor/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/login/css/util.css" rel="stylesheet" />
    <link href="~/assets/login/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .input100 {
            font-size: 14px !important;
        }
  
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../img/login.png');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Sıgn In
                </span>
                <form asp-controller="Login" asp-action="Login" class="login100-form validate-form p-b-33 p-t-5" style="opacity:80%;  background-color:lightgray;">
                    <div class="wrap-input100" >
                        <input class="input100" style="font-size: 14px" type="email" asp-for="Email" placeholder="Email">
                       <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <span asp-validation-for="Email" class="text-danger ms-3" style="margin-left:15px; font-size:12px;">@TempData["ErrorEmail"]</span>

                    </div>
                    <div class="wrap-input100" style="font-size:14px">
                        <div class="d-flex justify-content-end align-items-center">
                            <input class="input100  password-input" type="password" id="password" asp-for="Password" placeholder="Password">
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                            <div class="d-flex align-items-center mr-4" style="position:absolute;"><i id="eye" class="far fa-eye" onclick="showHidePassword()"></i>	</div>                        

                        </div>
                        <span class="text-danger" style="margin-left:15px; font-size:12px;">@TempData["ErrorPassword"]</span>
                    </div>
   
                  
                   
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                    <div class="container-login100-form-btn m-t-32">
                        <button event="click" type="submit" class="login100-form-btn">
                            Login
                        </button>

                    </div>
                    <div class="d-flex h-100">
                        <div class="m-auto">
                            <a asp-controller="Login" asp-action="CodeSender" style="text-decoration:underline; margin-top: 10px;">Forget Password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
@*    <script src="~/assets/login/vendor/js/jquery-3.2.1.min.js"></script>*@
    <!--===============================================================================================-->
     <script src="~/assets/login/vendor/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/login/vendor/js/popper.js"></script>
    <script src="~/assets/login/vendor/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/login/vendor/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/login/vendor/js/moment.min.js"></script>
    <script src="~/assets/login/vendor/js/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/login/vendor/js/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/login/vendor/js/main.js"></script>
  @*  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@

    <script>
        function showHidePassword() {
            var passwordInput = document.getElementById("password");
            var eyeIcon = document.getElementById("eye");
            passwordInput.style.fontSize = "14px";

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";

                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }

    </script>
</body>
</html>
