@{
    TempData["email"] = "email";
}

@model ResetPasswordDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodeSender</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/styleforlogin/css/site.css" rel="stylesheet" />
    <link href="~/assets/login/fonts/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <script src="~/styleforlogin/js/site.js"></script>
    <style>
        body {
            background-image: url("../img/resetpassword.jpg"); 
            background-size: cover;
        }

        span {
            font-size: 14px;
        }

        /* EFFECT 1 ========================================== */



    </style>

</head>


<div class="container mt-5 row d-flex justify-content-center align-items-center" style="height:80vh;">
    <form  method="post" asp-action="ResetPassword" class="form-signin needs-validation" novalidate oninput='confirmPassword.setCustomValidity(confirmPassword.value != newPassword.value ? true : false)'>


    <div style="height:80vh; background-size:cover;" class="d-flex flex-column align-items-center justify-content-end">



            <div class="card shadow-sm col-6 text-center" style="opacity:90%;  background-color:lightgray;">
                <br />
                <h1 id="register" style="font-family: Raleway;" >Reset Password</h1>
            <div class="m-4">
                <div class="card-body">
                    <input asp-for="Email" type="hidden" />
                        <input asp-for="Token" type="hidden" />

                   
                  
                    <div class="form-group text-start mb-2">
                        <div class="form-group">
                          
                            <div class="input-group d-flex justify-content-end align-items-center">

                                <input name="Password" type="password" asp-for="Password" value="@Model.Password" autocomplete="off" class="form-control form-control-sm" id="newPassword" placeholder="New Password" aria-describedby="inputGroupPrepend" required>
                                
                                <div class="d-flex align-items-center mr-4" style="position:absolute;"><i id="eye" class="far fa-eye" onclick="showHidePassword()"></i>	</div>                               
                                <div class="invalid-feedback">
                                    Please enter new password.
                                    
                                </div>
                                   
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-start">
                        <label class="sr-only" for="confirmPassword">Confirm Password</label>
                        <div class="input-group d-flex justify-content-end align-items-center">

                            <input asp-for="ConfirmPassword" value="@Model.ConfirmPassword" type="password" autocomplete="off" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password" aria-describedby="inputGroupPrepend" required>

                            <div class="d-flex align-items-center mr-4" style="position:absolute;"><i id="eye2" class="far fa-eye" onclick="showHidePassword2()"></i>	</div>

                          
                        </div>
                        
                        <span asp-validation-for="ConfirmPassword" class="text-danger" id="passwordMatchError"></span>
                      
                    </div>
                    <br />
                        <button id="submitBtn" class="btn btn-md btn-dark btn-block" asp-action="ResetPassword" type="submit">Update</button>

                </div>
            </div>

        </div>


    </div>


</form>
</div>

<script>
    function showHidePassword() {
        var passwordInput = document.getElementById("newPassword");
        var eyeIcon = document.getElementById("eye");
        passwordInput.style.fontSize = "14px";

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";

            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }

    function showHidePassword2() {
        var passwordInput = document.getElementById("confirmPassword");
        var eyeIcon = document.getElementById("eye2");
        passwordInput.style.fontSize = "14px";

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";

            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }



    function checkPasswordMatch() {
        var password = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var errorDiv = document.querySelector("#passwordMatchError");
        var spans=document.getElementsByTagName("span");
        
        if (password != confirmPassword) {
            errorDiv.textContent = "password does not match.";
            confirmPassword.setCustomValidity("Passwords must match.");
        } else {
            errorDiv.textContent = "";
            confirmPassword.setCustomValidity("");
        }
    }

    document.getElementById("newPassword").addEventListener("input", checkPasswordMatch);
    document.getElementById("confirmPassword").addEventListener("input", checkPasswordMatch);





</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

